body{
  margin: 0;
  text-align: center;
  font-family:'Merriweather', serif;
}

h1{
  font-size: 562.5%;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 1;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #2c786c;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #E4F9F5;
}

div{
  background-color: #ffffff;
}
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 100px;
}
.bottom-container{
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.cultural{
  text-decoration: underline;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.copyright{
  color: #EAF6F6;
  font-size: 75%;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 0;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px
}

.intro{
  width: 30%;
  margin: auto;
}
.contact-message{
  width: 40%;
  margin: 10px auto 10%;
}
.write-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.editor-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.language-teacher-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.button {
  background-color: #11CDD4;
  border: 8;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.button:hover {
  background-color: #30e3cb;
  border: 8;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
